*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategray;
}

body {
    background-color: white;
    min-height: 100dvh;
}

.page-container {
    min-height: 100vh;
    width: 46vw;
    margin: 0 auto;
    padding-top: 8rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-scene > .page-container {
    height: 300px;
    background-color: white;
}

.board-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}



.board {
    min-width: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;

    margin-bottom: 2rem;
}

.cell {
    background-color: rgb(255, 253, 230);
    height: 150px;
    border: 1px solid rgb(80, 80, 80);
    cursor: pointer;
    display: flex;

    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;

    font-size: 4rem;
}


.cell:hover {
    background-color: rgb(240, 249, 249);
}

.result-text {
    bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

button {
    width: 8rem;
    height: 3rem;
    background-color: white;
    color: grey;
    border-radius: 8px;
    margin-top: 2rem;

    font-size: 1rem;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.game-scene {
    display: none;
}

.player-selection {
    text-align: center;
    display: flex;
    gap: 4rem;
}

input {
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 12px;
    outline: none;
    border: 1px solid grey;

    text-align: center;
    font-size: 1.2rem;
    color: darkslategrey;
}

.return-button {
    position: absolute;
    cursor: pointer;
    left: 2%;
    top: 2%;
}

