*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategray;
}

body {
    background-color: white;
    min-height: 100dvh;
}

.page-container {
    min-height: 100vh;
    width: 46vw;
    margin: 0 auto;
    padding-top: 8rem;
    background-color: rgb(248, 248, 248);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}



.board {
    min-width: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;

    margin-bottom: 2rem;
}

.cell {
    background-color: rgb(249, 249, 249);
    height: 150px;
    border: 1px solid rgb(80, 80, 80);
    cursor: pointer;
    display: flex;

    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;

    font-size: 4rem;
}


.cell:hover {
    background-color: rgb(240, 249, 249);
}

.result-text {
    bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.restart-button {
    width: 8rem;
    height: 3rem;
    background-color: aliceblue;
    color: darkslategrey;
    border-radius: 8px;
    margin-top: 2rem;
}

.restart-button:hover {
    cursor: pointer;
    background-color: antiquewhite;
}